@import "colors.scss";

html {
    scroll-behavior: smooth;
}

body {
    margin: 0;
}

.header-wrapper {
    display: flex;
    justify-content: center;
    margin-top: 50px;
    a {
        img {
            height: 100px;
        }
    }
}

main {
    margin-left: 100px;
    margin-right: 100px;
    margin-bottom: 50px;
}

.ingredients {
    background-color: $blue;
}

.appliances {
    background-color: $green;
}

.ustensils {
    background-color: $orange;
}

i {
    color: white;
}

div {
    border-radius: 5px;
}

.searchbar-wrapper {
    display: flex;
    align-items: center;
    height: 70px;
    border-radius: 5px;
    overflow: hidden;
    margin-top: 20px;
    
    input {
        width: 95%;
        height: 100%;
        border: none;
        background-color: $lightgrey;

        font-family: 'Lato';
        font-size: 18px;
        padding-left: 25px;

        &:focus {
            outline: none;
        }
    }

    button {
        border: none;
        background-color: $lightgrey;
        height: 100%;
        width: 5%;
        cursor: pointer;

        .fa-magnifying-glass {
            font-size: 32px;
            color: black;
        }
    }
}

.filter-tags-wrapper {
    display: none;
    margin-top: 20px;
    column-gap: 15px;
    row-gap: 15px;
    flex-wrap: wrap;

    &.display {
        display: flex;
    }

    .tag {
        display: flex;
        align-items: center;
        column-gap: 10px;
        padding: 0px 20px 0px 20px;
        color: white;
        font-family: 'Lato';
        font-weight: 700;
        font-size: 14px;
        height: 40px;
    }

    i {
        cursor: pointer;
    }
}

.drop-down-menus-wrapper {
    display: flex;
    column-gap: 20px;
    max-height: 70px;
    margin-top: 15px;

    .drop-down-button {

        position: relative;
        z-index: 1;

        .drop-down-header {
            display: flex;
            align-items: center;
            justify-content: space-between;
            padding: 20px;
            max-width: 170px;

            &.expanded {
                max-width: none;
            }
    
            input {
                width: 70%;
                background-color: transparent;
                border: none;
                color: white;
                font-family: 'Lato';
                font-weight: 700;
                font-size: 18px;
        
                &::placeholder {
                    color: white;
                }
        
                &:focus {
                    outline: none;
                }
            }
        }

        .drop-down-content {
            display: none;
            grid-template-columns: 1fr 1fr 1fr;
            padding: 0px 20px 20px 20px;
            row-gap: 10px;
            column-gap: 20px;
            max-height: 300px;
            overflow-y: scroll;
            position: relative;

            .keyword {
                cursor: pointer;
                p {
                    color: white;
                    font-family: 'Lato';
                    font-weight: 400;
                    font-size: 18px;
                    margin-block-start: 0;
                    margin-block-end: 0;
                }

                &:hover {
                    background-color: rgba($color: white, $alpha: 0.25);
                }
            }

            &.display {
                display: grid;
            }
        }

        ::-webkit-scrollbar {
            display: none;
        }
    }
}

.section-wrapper {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    gap: 50px;
    margin-top: 25px;

    .article-wrapper {
        height: 365px;
        
        .img-wrapper {
            background-color: $grey;
            height: 175px;
        }

        .information-wrapper {
            background-color: $lightgrey;
            height: 190px;
            padding-left: 20px;
            padding-right: 20px;
            padding-top: 20px;
            overflow: hidden;

            .top-wrapper {
                display: flex;
                align-items: center;
                justify-content: space-between;

                .dish-name-wrapper {
                    display: flex;

                    h2 {
                        font-family: 'Lato';
                        font-weight: 400;
                        font-size: 18px;
                    }
                }
                
                .cooking-time-wrapper {
                    display: flex;
                    align-items: center;
                    column-gap: 5px;

                    .fa-clock {
                        font-size: 20px;
                    }

                    .time {
                        font-family: 'Lato';
                        font-style: normal;
                        font-weight: 700;
                        font-size: 18px;
                    }

                    i {
                        color: black;
                    }
                }
            }

            .bottom-wrapper {
                display: flex;
                height: 110px;
                overflow: hidden;

                .ingredients-list-wrapper {
                    width: 50%;
                    font-family: 'Lato';
                    font-style: normal;
                    font-weight: 400;
                    font-size: 12px;
                }

                .description-wrapper {
                    width: 50%;
                    font-family: 'Lato';
                    font-style: normal;
                    font-weight: 400;
                    font-size: 12px;
                }
            }
        }
    }
}
