@import "colors.scss";

html {
    scroll-behavior: smooth;
}

body {
    margin: 0;
}

.header-wrapper {
    display: flex;
    justify-content: center;
    margin-top: 50px;
    a {
        img {
            height: 100px;
        }
    }
}

main {
    margin-left: 100px;
    margin-right: 100px;
}

.searchbar-wrapper {
    display: flex;
    align-items: center;
    height: 70px;
    border-radius: 5px;
    overflow: hidden;
    margin-top: 20px;
    
    input {
        width: 95%;
        height: 100%;
        border: none;
        background-color: $lightgrey;

        font-family: 'Lato';
        font-size: 18px;
        padding-left: 25px;

        &:focus {
            outline: none;
        }
    }

    button {
        border: none;
        background-color: $lightgrey;
        height: 100%;
        width: 5%;
        cursor: pointer;

        .fa-magnifying-glass {
            font-size: 32px;
        }
    }
}

.filter-tags-wrapper {
    display: flex;
    margin-top: 20px;
    column-gap: 20px;

    div {
        display: flex;
        align-items: center;
        height: 70px;
        border-radius: 5px;
        width: 170px;

        input {
            width: 70%;
            background-color: transparent;
            border: none;
            color: white;
            font-family: 'Lato';
            font-weight: 700;
            font-size: 18px;
            padding-left: 15px;
    
            &::placeholder {
                color: white;
            }
    
            &:focus {
                outline: none;
            }
        }

        i {
            padding-right: 25px;
            color: white;
        }
    }

    .ingredients {
        background-color: $blue;
    }

    .appliance {
        background-color: $green;
    }

    .ustensils {
        background-color: $orange;
    }
}

.section-wrapper {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    gap: 50px;
    margin-top: 25px;

    .article-wrapper {
        height: 365px;
        
        .img-wrapper {
            background-color: $grey;
            height: 175px;
        }

        .information-wrapper {
            background-color: $lightgrey;
            height: 190px;
            padding-left: 20px;
            padding-right: 20px;
            padding-top: 20px;
            overflow: hidden;

            .top-wrapper {
                display: flex;
                align-items: center;
                justify-content: space-between;

                .dish-name-wrapper {
                    display: flex;

                    h2 {
                        font-family: 'Lato';
                        font-weight: 400;
                        font-size: 18px;
                    }
                }
                
                .cooking-time-wrapper {
                    display: flex;
                    align-items: center;
                    column-gap: 5px;

                    .fa-clock {
                        font-size: 20px;
                    }

                    .time {
                        font-family: 'Lato';
                        font-style: normal;
                        font-weight: 700;
                        font-size: 18px;
                    }
                }
            }

            .bottom-wrapper {
                display: flex;
                height: 110px;
                overflow: hidden;

                .ingredients-list-wrapper {
                    width: 50%;
                    font-family: 'Roboto';
                    font-style: normal;
                    font-weight: 400;
                    font-size: 12px;
                }

                .description-wrapper {
                    width: 50%;
                    font-family: 'Roboto';
                    font-style: normal;
                    font-weight: 400;
                    font-size: 12px;
                }
            }
        }
    }
}
