@import "colors.scss";

html {
    scroll-behavior: smooth;
}

body {
    margin: 0;
}

.header-wrapper {
    display: flex;
    justify-content: center;
    margin-top: 50px;
    a {
        img {
            height: 100px;
        }
    }
}

main {
    margin-left: 100px;
    margin-right: 100px;
}

.searchbar-wrapper {
    display: flex;
    align-items: center;
    height: 70px;
    border-radius: 5px;
    overflow: hidden;
    margin-top: 20px;
    
    input {
        width: 95%;
        height: 100%;
        border: none;
        background-color: $lightgrey;

        font-family: 'Lato';
        font-size: 18px;
        padding-left: 25px;

        &:focus {
            outline: none;
        }
    }

    button {
        border: none;
        background-color: $lightgrey;
        height: 100%;
        width: 5%;
        cursor: pointer;

        .fa-magnifying-glass {
            font-size: 32px;
        }
    }
}

.filter-tags-wrapper {
    display: flex;
    margin-top: 20px;
    column-gap: 20px;

    div {
        display: flex;
        align-items: center;
        height: 70px;
        border-radius: 5px;
        width: 170px;

        input {
            width: 70%;
            background-color: transparent;
            border: none;
            color: white;
            font-family: 'Lato';
            font-weight: 700;
            font-size: 18px;
            padding-left: 15px;
    
            &::placeholder {
                color: white;
            }
    
            &:focus {
                outline: none;
            }
        }

        i {
            padding-right: 25px;
            color: white;
        }
    }

    .ingredients {
        background-color: $blue;
    }

    .devices {
        background-color: $green;
    }

    .ustensils {
        background-color: $orange;
    }
}